<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>test</title>
  <!-- <link rel="stylesheet" href="//c.58cdn.com.cn/job/pc/qy/hx/0.1/css/index.css"> -->
  <!--[if lt IE 9]> 
    <script>
      window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+location.href
    </script>
  <![endif]-->
</head>


<body>
  <div id="root" style="height:1000px;background-color: #F3F3F3;"></div>

  <!--[if lt IE 11]> 
    <script src='//j1.58cdn.com.cn/job/pc/common/0.1/polyfill/polyfills-map-set.js'></script>
  <![endif]-->
  <!-- <script src="//j1.58cdn.com.cn//job/pc/common/0.1/react/react-bundle-16.2.min.js"></script> -->
  <!-- <script src="//j1.58cdn.com.cn/job/pc/qy/hx/0.1/js/index.js"></script> -->

  <!--基本统计代码begin-->
  <script src="http://tracklog.58.com/referrer4.js"></script>
  <!--基本统计代码end-->
</body>

</html>