@font-face {
  font-family: 'iconfont';  /* project id 607320 */
  src: url('//at.alicdn.com/t/font_607320_0ro00zvtkju.eot');
  src: url('//at.alicdn.com/t/font_607320_0ro00zvtkju.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_607320_0ro00zvtkju.woff') format('woff'),
  url('//at.alicdn.com/t/font_607320_0ro00zvtkju.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_607320_0ro00zvtkju.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before { content: "\e62f"; }

.icon-bianji:before { content: "\e669"; }

.icon-jiantoushangsheng:before { content: "\e7f1"; }

.icon-jiantouxiajiang:before { content: "\e7f2"; }

.icon-suo:before { content: "\e85a"; }

.icon-ai-out:before { content: "\e642"; }

.icon-xueli:before { content: "\e63c"; }

.icon-phone:before { content: "\e6dc"; }

.icon-tousuguanli:before { content: "\e619"; }

.icon-gongzuojingyan:before { content: "\e61a"; }

.icon-jilu:before { content: "\e66b"; }

.icon-shimingrenzheng:before { content: "\e603"; }

.icon-wancheng:before { content: "\e60e"; }

.icon-gongsixinxi:before { content: "\e618"; }

.icon-xuanzhong:before { content: "\e83b"; }

.icon-loading:before { content: "\e61c"; }

.icon-qq:before { content: "\e6a1"; }

.icon-guanbi:before { content: "\e7b7"; }

.icon-web__xiala:before { content: "\e64a"; }

.icon-yonghu-tianchong:before { content: "\e670"; }

.icon-viphuiyuanhuangguan:before { content: "\e601"; }

.icon-zijinzouxiang:before { content: "\e696"; }

.icon-warning:before { content: "\e75a"; }

